<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.hbm2ddl.auto">create</property> <!-- COMMENT OUT THIS LINE AFTER FIRST RUN!!!!!!!!!!!!!!!! -->
   <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
   <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
   <property name="hibernate.connection.url">jdbc:mysql://localhost/radio</property>
   <property name="hibernate.connection.username">root</property>
   <property name="hibernate.connection.password">primetrust</property>
   <property name="hibernate.hbm2ddl.auto">update</property>
   <property name="show_sql">false</property>
   <mapping class="Users"/>
   <mapping class="Subscriptions"/>
   <mapping class="Spins"/>
   <mapping class="Songs"/>
   <mapping class="Sharedplaylists"/>
   <mapping class="PlaylistDescriptions"/>
   <mapping class="Royalties"/>
   <mapping class="Playlists"/>
   <mapping class="Features"/>
   <mapping class="Artistes"/>
   <mapping class="Accounts"/>
</session-factory>
</hibernate-configuration>